// @import url('https://fonts.googleapis.com/css2?family=Arvo:ital,wght@1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;1,500&family=Playfair+Display+SC:ital@1&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input, select, button {
  padding: 6px 8px;
  font-size: .7em;
  border: 1px solid #9a8d40;
  border-radius: 15px;
  background: #e4debd;
  outline: none;
  border-bottom-width: 3px;
  color: #6d6014;

  &:focus, &:active {
    border-color: #2baf2b;
  }
}

button:focus, input[type="submit"]:focus {
  text-decoration: underline;
}

hr {
  width: 100%;
  margin: .5em auto 1em;
  border: 0;
  border-bottom: 1px solid #cacaca;
}

input[type="submit"], button {
  cursor: pointer;
}

#root > div {
  width: 100vw;
  height: 100vh;
}



.frame {
  display: flex;
  min-height: 75vh;
}

#main-header h1 {
  font-family: 'Playfair Display SC', serif;
  font-size: 9em;
  margin: -0.25em 0 -0.5em 3%;
  font-weight: 100;
  z-index: -5;
  position: relative;
}

#sidebar {
  max-width: 15em;
  padding: 0 1em;
  display: flex;
  flex-direction: column;

  flex: 2;

  select, form, button {
    margin-bottom: .75em;
  }

  h2 {
    margin: 0;
    font-size: 1em;
  }
}

#sidebar-preview {
  width: 100%;
}

#content {
  flex: 5 1;
  background: #232323;
  position: relative;
  z-index: 5;
  border: 1px solid #c5c086;
  border-bottom-width: 8px;
  border-radius: 1px 1px 0 10px;
  color: #fff;
}

.inline-form {
  display: flex;

  input[type="text"] {
    flex: 5;
    margin-right: .5em;
  }

  input[type="submit"] {
    flex: 1;
  }
}

.icon {
  margin-left: .5em;
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  background-size: cover;
}

.icon-win { background-image: url(/img/win.png) }
.icon-osx { background-image: url(/img/osx.png) }
.icon-linux { background-image: url(/img/linux.png) }


.badges span {
  margin-right: .5em;
  padding: 3px 8px;
  background: rgba(0, 0, 0, .5);
  border-radius: 10px;
}

a:hover .badges span {
  text-decoration: none;
}

span.badge-wav {
  background: #caab08;
  color: #715202;
}

span.badge-vst, span.badge-vsti {
  background: #1f7e9e;
}

span.badge-vst3, span.badge-vsti3 {
  background: #40b4da;
}

span.badge-vsti, span.badge-vsti3 {
  font-style: italic;
}

span.badge-aax, span.badge-aui, span.badge-au,
span.badge-rex2, span.badge-rtas, span.badge-exs {
  color: gray;
  background: #2d2d2d;
}

.pager {
  display: flex;
  justify-content: space-around;

  button {
    background: transparent;
    display: inline-block;
    border: 0;
    outline: none;
    color: inherit;

    &:hover, &:active {
      text-decoration: underline;
    }
  }
}

.loader {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;

  &:before {
    display: block;
    content: ' ';
    width: 1.5em;
    height: 1.5em;
    background: url(/img/yeet.png);
    background-size: cover;
    color: #fff;
    font-weight: lighter;
    font-size: 2em;
    animation: 1s rotate linear;
    animation-iteration-count: infinite;
  }
}

@keyframes rotate {
  from { transform: rotate(0deg) }
  to { transform: rotate(360deg) }
}

.hide {
  visibility: hidden;
}

.theme-two {
  background: linear-gradient(#e2e8ff, #e2e8ff);
  
  #main-header, #sidebar {
    filter: hue-rotate(180deg);
  }
}