#main-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

#main-header h1 {
  font-family: 'Playfair Display SC', serif;
  font-size: 5em;
  margin: -0.25em 0 -0.35em 3%;
  font-weight: 100;
  z-index: 0;
  position: relative;

  sup {
    font-size: 0.3em;
  }
}

#theme-select {
  margin: .5em 0;
}

#theme-select .icon-theme {
  margin: 0 0 0 .5em;
  color: transparent;
  user-select: none;
}

.theme-two {
  #main-header h1 {
    filter: hue-rotate(195deg) brightness(.75);
  }
}