#main-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

#main-header h1 {
  font-family: 'Playfair Display SC', serif;
  font-size: 5em;
  margin: -0.25em 0 -0.35em 3%;
  font-weight: 100;
  z-index: 0;
  position: relative;

  sup {
    font-size: 0.3em;
  }
}

#theme-select {
  margin: 1em 1em 0;
}

#theme-select .icon-theme {
  margin: 0 0 0 .5em;
  color: transparent;
  user-select: none;
}

// thanks fazlur rahman!
// https://codepen.io/fazlurr/pen/qbWMRv

$duration: 5s;
$text-color: transparent;
$bgr-color: #333;

.shine, .chrome {
	font-size: 3em;
	margin: 0 auto;
	margin-bottom: 1em;
	font-weight: bold;
}

.shine {
  // background: #0a0a0a -webkit-gradient(linear, left top, right top, from(#000), to(#e8dc05), color-stop(0.5, #eabe20)) 0 0 no-repeat;
  background: #ff8b8b -webkit-gradient(linear, left top, right top, from(#ff8b8b), to(#e8dc05), color-stop(0.5, #eabe20)) 0 0 no-repeat;
	background-size: 150px;
	color: $text-color;
	background-clip: text;
	animation-name: shine;
	animation-duration: $duration;
	animation-iteration-count: infinite;
	text-shadow: 0 0px 0px rgba(255, 255, 255, 0.5);
}

.chrome {
  background: #222 -webkit-gradient(linear, left top, right top, from(#222), to(#222), color-stop(0.5, #fff)) 0 0 no-repeat;
	background-image: -webkit-linear-gradient(-40deg, transparent 0%, transparent 40%, #fff 50%, transparent 60%, transparent 100%);
  background-size: 200px;
	color: $text-color;
	background-clip: text;
  animation-name: shine;
  animation-duration: $duration;
  animation-iteration-count: infinite;
	text-shadow: 0 0px 0px rgba(255, 255, 255, 0.5);
}

@keyframes shine {
	0% {
    background-position: -5em;
	}
	90% {
		background-position: 150%;
	}
	100% {
		background-position: 200%;
	}
}

.theme-two {
  #main-header h1 {
    filter: unset;
    background: unset;
    animation: unset;
    color: #fff;

    &:after {
      width: 15em;
      height: 4em;
      content: ' ';
      display: block;
      position: absolute;
      top: -1em;
      left: -1em;
      background-image: url(/img/solo.png);
      background-size: 58%;
      background-repeat: no-repeat;
      z-index: -20;
      // filter: hue-rotate(-195deg);
      pointer-events: none;
    }
  }
}

.theme-three {
  #main-header h1 {
    filter: hue-rotate(195deg);
  }
}