#item-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  max-height: 70vh;
  overflow: scroll;

  li {
    padding: 3px 8px 8px;
    border-bottom: 1px solid #353535;
    font-size: 0.7em;

    a {
      margin: 0;
      text-decoration: none;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;

      &:link, &:visited {
        color: inherit;
      }

      &:hover, &:focus {
        text-decoration: underline;
      }
    }
  }

  p {
    margin: 0;

    &:nth-child(3) {
      width: 100%;
    }

    &.item-badges {
      margin-top: .5em;
    }
  }
}

.item-title span {
  color: gray;
}

.item-systems {
  height: 1.5em;
  min-width: 1em;
}